* {
  box-sizing: border-box;
}

body {
  background-image:url('../img/bg.png');
  background-repeat:repeat;
}

p {
  margin: 0 0 20px;
}

/*Header Styling*/
.navbar {
  background-image:url('../img/bg.png');
  background-repeat:repeat;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#962835;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color:#962835;
}

.navbar-brand {
  margin-top:-15px;
  margin-bottom:-100px;
  margin-left:0px;
  margin-right:-30px;
}

#logo {
  background: url(../img/NSAA_Logo.jpg) no-repeat;
  background-size: contain;
  height:80px;
  width:200px;
}

/*Jumbotron Styling*/
.jumbotron {
  background-color: transparent;
  padding: 10px 0 0 0;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #ffffff \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: -5px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  color: #ffffff;
  font-family:'Lato', sans-serif;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/*Jumbotron adjustments for XS screens*/
@media (max-width:767px) {
  .carousel-indicators li{
      width:8px;
      height:8px;
      margin-bottom: -5px;
  }
  .carousel-indicators .active {
      width:10px;
      height:10px;
      margin-bottom:-5px;
  }
  .carousel-caption {
      font-size: 12px;
  }
}

/*Main Content Styling*/
.bookingbutton {
  position:block;
  width:180px;
  height:50px;
  border:2px solid black;
  border-radius:5px;
  background-color:#962835;
  margin: 0px auto;
  text-align:center;
  font-family:"Lato";
  color:#fff;
  font-size:20px;
  text-decoration:none;
  line-height:46px;
}

.bookingbutton:hover {
  position:relative;
  top: -5px;
  left:5px;
  text-decoration:none;
}

.bookingbutton:active {
    background-color:navy;
}


.welcome {
  text-align:center;
  vertical-align:middle;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  max-width: 75%;
  margin-top: 10px;
  margin-left: auto;
  margin-right:auto;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.google-maps script {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.event {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
}
.event + .event {
    padding-top: 30px;
}
.event .date {
  margin-bottom: 7px;
  color: #2a6496;
}

/* Colophon Section */
.colophon {
  background-color:#962835;
}

.contact {
  display:inline-block;
  background-color:#962835;
  color:white;
  line-height:40px;
  font-size:0.9em;
  font-family:"Lato";
}

.social {
  float:right;
  display:inline-block;
  background-color:#962835;
  color:white;
  line-height:40px;
  font-size:0.9em;
  font-family:"Lato";
}

.colophon-icon {
  background-color: #ffffff;
  border-radius: 50%;
  color: #962835;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
}

.contact:hover {
  text-decoration:underline;
  color:#ffffff;
}

.colophon-icon:hover {
  width:35px;
  height:35px;
  line-height: 35px;
  color:navy;
  font-size:1.1em;
}

/*Colophon Adjustment for XS and XXS Screens*/
@media (min-width: 480px) and (max-width:767px){
  .contact {
    margin-left:30%;
  }

  .social{
    margin-top:10px;
  }
}

@media (max-width: 479px){
  .contact {
    margin-left:5%;
  }

  .social{
    margin-top:10px;
  }
}

/*Footer Styling*/
.footer {
  margin-top:10px;
  line-height:30px;
}

.footer a {
  color:#000; 
}

.footer a:hover {
  text-decoration:underline;
}